{% extends 'layout.html' %}

{% block title %}Nosotros - Fútbol UTP{% endblock %}

{% block content %}
<div class="container text-center mt-5">
    <h2 class="mb-4">Sobre Nosotros</h2>
    <p class="lead">El equipo de fútbol UTP representa la pasión, el compromiso y el talento de nuestra comunidad universitaria.</p>
    
    <div class="row mt-5">
        <div class="col-md-6">
            <h4>Misión</h4>
            <p>Formar deportistas íntegros que combinen excelencia académica con disciplina y trabajo en equipo.</p>
        </div>
        <div class="col-md-6">
            <h4>Visión</h4>
            <p>Ser reconocidos como el equipo universitario más competitivo y profesional del país.</p>
        </div>
    </div>

    <div class="mt-5">
        <h4>Ubicación</h4>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3903.311959456333!2d-77.07019199999999!3d-11.952889899999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105d1d877f532d7%3A0x8db19fe8e1f40feb!2sUniversidad%20Tecnol%C3%B3gica%20del%20Per%C3%BA!5e0!3m2!1ses-419!2spe!4v1752995904000!5m2!1ses-419!2spe" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> 
    </div>
</div>
{% endblock %}
